python-telegram-bot==21.6
APScheduler==3.10.4
requests==2.32.3
duckduckgo-search==6.3.0
google-api-python-client==2.154.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
python-dateutil==2.9.0.post0
streamlit==1.40.1
pandas==2.2.3
